@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Inter:wght@400;500;700&display=swap');
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100 font-sans tracking-wide antialiased;
  }
}

/* Custom Scrollbar for minimalist feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}
